[Unit]
Description=Visual Studio Code auto-updater
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
User=vscode-updater
ExecStart=/usr/bin/vscode-updater

[Install]
WantedBy=multi-user.target
